.tk_list{margin:0 0 0 32px; padding:0; list-style:none;  text-indent:-2.4em;}
.tk_list li{margin:0 0 15px ; padding:0; line-height:20px;}
.tk_list li:before{margin:0 10px 0 0; padding:0;  display: inline-block; width:24px; height:24px; content:""; background:url(../images/chk_icn.png) no-repeat left top; position:relative; top:10px;}
.list_wrap{margin:0; padding:0; display:block;}
.list_wrap .col_lft{float:left; width:49%;}
.list_wrap .col_rght{float:right; width:49%;}

#sh-projects-ul {
    text-align: center;
}

li.cardiology, li.orthopaedics, li.preventive-healthcare { 
    position: relative !important;
    float: none !important;
    left: 0px !important;
}

.sh-logo {
    max-height: 80px;
    width: 160px;
    /* height: 60px; */
}

.header-style4 .sh-header {
    padding: 5px 0px 10px 0px !important;
}

.team-style3 .team-details {
    height: 300px;
}

.display-table-cell-vertical-middle {
    vertical-align: top;
}

.sh-media-class p {
    margin: 5px 0px 5px 0px;
}

.sh-media-class p a {
    /* color: rgba(255, 255, 255, 0.65); */
    text-decoration: underline;
}

.sh-media-text {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.bg-orange {
    background: #ef5037;
}

.sh-bg-gray {
    background: #F1F0F0;
}

.sh-text-gray {
    color: #4D4D4D;
}
.sh-bg-gray_01{background: #f7f7f7;}

h6.sh-font-16p {
    font-size: 16px;
}

.owl-buttons .owl-prev, .owl-buttons .owl-next {
    color: rgba(0, 0, 0, 0.58);
}

.owl-pagination .owl-page span {
    border: 2px solid rgba(0, 0, 0, 0.58);
}

.owl-pagination .active span {
    background-color: rgba(0, 0, 0, 0.58);
    border: 2px solid rgba(0, 0, 0, 0.58);
}

.header-margin-top-medium {
    margin-top: 50px;
}

.sh-contactus-padding {
    padding-bottom: 50px !important;
}

.sh-footer-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.sh-center-align {
    text-align: center;
}

.bg-dark-blue{
	background:#2c353f;	
}
.login-menu{
	background: #F25232;
	padding: 5px 15px;
	margin: 6px 0px 0px 0px !important;
	border-radius: 25px;
	text-align: center;
}
.login-menu a{
	color:white !important;
}
@media (min-width: 1000px) {
    .owl-pagination {
        bottom: 200px;
    }
    
    .sh-logo-margin {
        margin-left: -60px;
    }

    .sh-purpose-height {
        max-height: 670px !important;
        overflow: hidden;
    }
}

@media (max-width: 1000px) {
    .owl-pagination {
        bottom: 50px;
    }
    
    .sh-logo-margin {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .owl-pagination {
        bottom: 30px;
    }
}