#sh-projects-ul {
    text-align: center;
}

li.cardiology, li.orthopaedics, li.preventive-healthcare { 
    position: relative !important;
    float: none !important;
    left: 0px !important;
}

.sh-logo {
    max-height: 60px;
    width: 120px;
    /* height: 60px; */
}

.header-style4 .sm-header {
    padding: 5px 0px !important;
}

.team-style3 .team-details {
    height: 300px;
}