#sh-projects-ul {
    text-align: center;
}

li.cardiology, li.orthopaedics, li.preventive-healthcare { 
    position: relative !important;
    float: none !important;
    left: 0px !important;
}

.sh-logo {
    max-height: 90px;
    width: 150px;
    /* height: 60px; */
}

.header-style4 .sm-header {
    padding: 5px 0px !important;
}

.team-style3 .team-details {
    height: 300px;
}

.display-table-cell-vertical-middle {
    vertical-align: top;
}

.sh-media-class p {
    margin: 5px 0px 5px 0px;
}

.sh-media-class p a {
    /* color: rgba(255, 255, 255, 0.65); */
    text-decoration: underline;
}

.sh-media-text {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.bg-orange {
    background: #ef5037;
}

.sh-bg-gray {
    background: #F1F0F0;
}

.sh-text-gray {
    color: #4D4D4D;
}

h6.sh-font-16p {
    font-size: 16px;
}

.owl-buttons .owl-prev, .owl-buttons .owl-next {
    color: rgba(0, 0, 0, 0.58);
}

.owl-pagination .owl-page span {
    border: 2px solid rgba(0, 0, 0, 0.58);
}

.owl-pagination .active span {
    background-color: rgba(0, 0, 0, 0.58);
    border: 2px solid rgba(0, 0, 0, 0.58);
}

.header-margin-top-medium {
    margin-top: 50px;
}

.sh-contactus-padding {
    padding-bottom: 50px !important;
}

.sh-footer-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

@media (min-width: 1000px) {
    .owl-pagination {
        bottom: 200px;
    }
    
    .sh-logo-margin {
        margin-left: -50px;
    }
}

@media (max-width: 1000px) {
    .owl-pagination {
        bottom: 50px;
    }
    
    .sh-logo-margin {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .owl-pagination {
        bottom: 30px;
    }
}